# Dependencies
node_modules/
yarn-error.log

# Compiler files
artifacts/
hh-cache/
cache/
types/
out/

# Ignores hh-deploy logs
deployments/localhost/
deployments/hardhat/

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/

# Others
z/
.env
.DS_STORE